{% extends 'html/base.html' %}
{% block title %} Aboutus {% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="jumbotron ml-auto">
    <h2> About MobilePhone:</h2>
    <p>A mobile phone is a wireless handheld device that allows users to make and receive calls. While the earliest generation of mobile phones could only make and receive calls, today’s mobile phones do a lot more, accommodating web browsers, games, cameras, video players and navigational systems.</p>
    <h2>Mobile phone features:</h2>
    <ul>
    	<li>MOS integrated circuit chips. A typical smartphone contains a number of metal–oxide–semiconductor (MOS) integrated...</li>
    	<li>Software, applications and services. This section needs additional citations for verification. Please help improve this...</li>
    	<li>SIM card. GSM mobile phones require a small microchip called a Subscriber Identity Module or SIM card, to function.</li>
    	<li>Display. Mobile phones have a display device, some of which are also touch screens. The screen size varies greatly by...</li>
    	<li>Software, applications and services</li>
		<li>Power supply</li>
		<li>SIM card</li>
  		<li>Display</li>
		<li>Central processing unit</li>
		<li>Miscellaneous features</li>
		<li>Multi-mode and multi-band mobile phones</li>
		<li>Data communications</li>
		<li>Vulnerability to viruses</li>
        <li>Cameras</li>
    </ul>
  </div>
</div>
<footer style="background: black;">
  <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12 p-3">
          <a href="">About Us | All rights reserved | Copyright ©
            2020</a>
        </div>
      </div>
    </div>
</footer>
{% endblock %}