{% extends 'html/base.html' %}
{% block title %} Contact us {% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="jumbotron ml-auto">
    <h2>Contact no:9922886655</h2>
    <h2>contact no:08818 142594</h2>
    <h2>Email id:onlinebooking123@gmail.com</h2>
  </div>
</div>
<footer style="background: lightblue; ">
  <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12 p-3">
          <a href="">Contact Us | All rights reserved | Copyright ©
            2020</a>
        </div>
      </div>
    </div>
</footer>
{% endblock %}