{% extends 'html/base.html' %}
{% load static %}
{% block title %} HOME {% endblock %}
{% block content %}
<br>
  <div class="vl" style="border-left: 3px solid black; height: auto; position:absolute;left: 10px;">
    <hr style="margin-left: 30px">
  <table class="table-hover" style="margin-top: 10px">
    <tr><h2 style="margin-left: 40%"><b><img src="{% static 'images/mi1.png' %}">REDMI MOBILES</b></h2></tr>
    <tr>
      <td>
      <div class="card-body">
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/redmi11.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹11,999</i></b><br>
         <a href="{% url 'mbe' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
      <td>
      <div class="card-body">
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/redmi2.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Redmi Note 9 Pro Max (Aurora Blue, 6GB RAM, 128GB Storage) - 64MP Quad Camera</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹18,499</i></b><br>
          <a href="{% url 'mbe1' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/redmi3.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Redmi K20 (Flame Red, 6GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹23,999</i></b><br>
          <a href="{% url 'mbe2' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
    </tr>
  </table>
  <hr style="margin-left: 30px">
  <table class="table-hover" style="margin-top: 8px">
    <tr><h2 style="margin-left: 40%"><b><img src="{% static 'images/vivo.png' %}" height="50" width="50">VIVO MOBILES</b></h2></tr>
    <tr>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/vivo1.png' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Vivo Y51 (Crystal Symphony, 8GB RAM, 128GB ROM)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹17,990 </i></b><br>
          <a href="{% url 'mbe3' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/vivo2.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Vivo V20 2021 (Sunset Melody, 8GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹24,990</i></b><br>
         <a href="{% url 'mbe4' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/vivo3.png' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px">Vivo U10 (Thunder Black,5000 mAH 18W Fast Charge Battery, 3GB RAM, 32GB Storage)<b></b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹9,990</i></b><br>
          <a href="{% url 'mbe5' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
    </tr>
  </table>
  <hr style="margin-left: 30px">
  <table class="table-hover" style="margin-top: 8px">
    <tr><h2 style="margin-left: 40%"><b><img src="{% static 'images/onepluse4.jpeg' %}" height="100" width="80">OnePluse MOBILES</b></h2></tr>
    <tr>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/onepluse.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>(Renewed) OnePlus Nord 5G (Blue Marble, 8GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹26,599</i></b><br>
          <a href="{% url 'mbe6' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/onepluse1.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>OnePlus 8T 5G (Aquamarine Green, 12GB RAM, 256GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹45,999 </i></b><br>
          <a href="{% url 'mbe7' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/onepluse3.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>OnePlus 8 (Glacial Green 6GB RAM+128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹39,999 </i></b><br>
          <a href="{% url 'mbe8' %}"button type="button" class="btn btn-primary">View Mobile</a></button>
        <br></h3>
      </td>
    </tr>
  </table>
  <hr style="margin-left: 30px">
  <footer class="footer" style="padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-mobile"></i> MOBILE BOOKING.</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'hm' %}">Home</a></li>
                            <li><a href="{% url 'ab' %}">About us</a></li>
                            <li><a href="{% url 'ct' %}">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'reg' %}">Register</a></li>
                            <li><a href="{% url 'lgn' %}">Login</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                  <li class="nav-item"><a href="https://www.facebook.com/colombia112/" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://twitter.com/NokiaMobile" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.instagram.com/tmobile/" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Thank You</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <video width="300" height="200" controls autoplay muted>
                      <source src="{% static 'images/vedio1.mp4' %}" type="video/mp4">
                    </video>
                </form>
            </div>
        </div>
    </div>
</footer>

         


{% endblock %}